@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* html{
    overflow: hidden;    
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    
    
    background-image: url(../pic/background1.jpg);
    background-attachment: fixed;
        /* font-family: 'Marck Script', cursive; */
    /* transform: translateZ(-1000); */
    /* 
     */
}






.parallax{
    margin-top: 105px;
    display: block;
    
    
     
}



.hmenu {
    
    
    background-color: white;
    
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: block;
    
    
    min-width: 800px;
    z-index: 100;
}

.menu {
    background-color: white;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

li {
    /* font-family: 'Marck Script', cursive; */
    margin: 20px 10px 10px 10px;
}

a:hover {
    color:red;
}

.drakonia, .team, .partner, .study, .tales{
    text-align: center;
    width: 100%;
    min-width: 800px;
    background-color: #fff;
    margin: 100px 0px 20px 0px;
    padding: 0;
    box-shadow: 0.4em 0.8em 5px rgba(122,122,122,0.8);
    /* transform: translateZ(0); */
}

.drakonia>p, .about_tales>p, .team_text, .partner_text, .study_text, .tales_text{
    width: 90%;
    margin: auto;
    
}

.drakonia>span{
    
    font-size: 35px;
    margin-bottom: 40px;
}

.video{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.about_tales{
    margin-top: 40px;
    width: 100%;
    background-color: #fff;

}

footer{
    width: 100%;
    background-color:BLACK;
    color: white;
    display: flex;
}

.contacts>ul{
    margin: 0;
}

.about_us{
    margin: 10px;
}

@media screen and (max-width:890px){

    
.menu{
    display: none;

}



.drakonia, .team, .partner, .study, .tales{
    min-width: 400px;
}
    
}